.weather-container {
    width: 90%;

    max-width: 900px;

    min-height: 650px;

    margin: auto;

    padding-top: 75px;
}


.weather-heading h1 {
    font-size: 52px;

    letter-spacing: -3px;

    margin: 15px 0;
}


.weather-heading p:last-child {
    color: #999;

    line-height: 1.7;
}


/* SEARCH */

.weather-search {
    max-width: 650px;

    display: flex;

    gap: 10px;

    margin-top: 35px;
}


.weather-search input {
    flex: 1;

    padding: 16px;

    background: #101010;

    color: white;

    border: 1px solid #4d430a;

    border-radius: 10px;

    outline: none;
}


.weather-search input:focus {
    border-color: #ffd400;
}


.weather-search button {
    padding: 0 25px;

    background: #ffd400;

    color: #080808;

    border: none;

    border-radius: 10px;

    font-weight: bold;

    cursor: pointer;
}


/* STATUS */

.weather-status {
    color: #999;

    font-size: 13px;

    margin-top: 15px;
}


/* CARD */

.weather-card {
    max-width: 650px;

    margin-top: 30px;

    padding: 30px;

    background: #101010;

    border: 1px solid #39310a;

    border-radius: 18px;
}


.weather-card h2 {
    color: #ffd400;

    font-size: 28px;

    margin-bottom: 20px;
}


.temperature {
    font-size: 55px;

    font-weight: bold;
}


.condition {
    color: #aaa;

    margin-top: 5px;

    margin-bottom: 25px;
}


/* DETAILS */

.weather-details {
    display: grid;

    grid-template-columns:
        repeat(2, 1fr);

    gap: 15px;
}


.detail {
    padding: 18px;

    background: #171717;

    border-radius: 10px;
}


.detail span {
    display: block;

    color: #777;

    font-size: 12px;

    margin-bottom: 7px;
}


.detail strong {
    color: white;

    font-size: 17px;
}


/* MOBILE */

@media (max-width: 600px) {

    .weather-heading h1 {
        font-size: 40px;
    }


    .weather-search {
        flex-direction: column;
    }


    .weather-search button {
        padding: 14px;
    }


    .weather-details {
        grid-template-columns: 1fr;
    }

}